<div *ngIf="member$ | async as member">
  <div class="card">
    <h3>{{ member.firstname }} {{ member.lastname }}</h3>
    <div>
      <img
        src="../../assets/avatars/{{ member.avatar }}"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div>
      <h3>{{ member.function }}</h3>
    </div>
    <div>
      <p>{{ member.description }}</p>
    </div>

    <button class="btn btn-secondary" (click)="gotoMembers(member)">
      Retour à la liste
    </button>
  </div>
</div>
