main {
  padding: 20px;
  height: 80vh;
  width: 100vw;
  text-align: center;
}
h1 {
  text-align: center;
  padding-top: 20px;
}
div {
  margin: auto;
}
.component-title {
  padding: 10px;
}
.card {
  padding: 20px;
}
img {
  margin: auto;
  height: 100px;
  width: 100px;
}

button {
  margin: 20px;
}
